@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: url("font-kit=0QI6MX1D_JOuGQbT0gvTJPa787weuxJPkqk&skey=1d294b6d956fb8e&v=v36")/*tpa=https://fonts.gstatic.com/l/font?kit=0QI6MX1D_JOuGQbT0gvTJPa787weuxJPkqk&skey=1d294b6d956fb8e&v=v36*/;
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url("font-kit=pxiEyp8kv8JHgFVrJJnedg&skey=87759fb096548f6d&v=v23")/*tpa=https://fonts.gstatic.com/l/font?kit=pxiEyp8kv8JHgFVrJJnedg&skey=87759fb096548f6d&v=v23*/;
}
