@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url("font-kit=S6uyw4BMUTPHjx4wWg&skey=2d58b92a99e1c086&v=v24")/*tpa=https://fonts.gstatic.com/l/font?kit=S6uyw4BMUTPHjx4wWg&skey=2d58b92a99e1c086&v=v24*/;
}
